.reset-password-container{
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 65vh;
}
.resetpassword-icon{
    color: #0d95e8;
}
.reset-password-title{
    font-size: 24px;
    color: #1da1f2;
    margin-bottom: 20px;
    text-align: start;
    margin-top: 30px;
}
input {
    display: grid;
    margin-bottom: 1px;
    padding: 5px;
    background-color: white;
    margin-top: 20px;
}
.password1 {
    background-color: #E8F0FE;
    width: 90%;
    border-radius: 8px;
    padding: 14px;
    border: none;
    outline: none;
    position: relative;
}
.reset-password-button{
    width: 100%;
    padding: 12px;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}
.reset-password-button:hover{
    background-color: #0d95e8;  
}
.resetpassword-information{
    font-size: 14px;
    color: #657786;
    text-align: start;
}
.generate-password-button{
    width: 100%;
    padding: 12px;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}
.generate-password-button:hover{
    background-color: #0d95e8;  
}