.forgot-password-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: fit-content;
  }
  
  .forgot-password-title {
    font-size: 24px;
    color: #1da1f2;
    margin-bottom: 20px;
    text-align: start;
  }
  
  .forgot-password-instruction {
    font-size: 14px;
    color: #657786;
   
  }
  .forgot-password-instruction1{
    font-size: 14px;
    color: #657786;
    text-align: start;
    margin-top: -10px;
  }
  
  .forgotpassword-icon{
    color: #0d95e8;
  }

  
  .forgot-password-input {
    background-color: #E8F0FE;
    width: 90%;
    border-radius: 8px;
    padding: 17px;
    border: none;
    outline: none;
  }
  
  .forgot-password-button {
    width: 100%;
    padding: 11px;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 80px;
    margin-bottom: 15px;
  }
  
  .forgot-password-button:hover {
    background-color: #0d95e8;
  }
  .forgot-cancle-button{
    width: 100%;
    padding: 11px;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    .forgot-cancle-button:hover {
        background-color: #0d95e8;
    }
  .forgot-password-success {
    color: green;
    margin-top: 15px;
  }
  
  .forgot-password-error {
    color: red;
    margin-top: 15px;
  }
  

  