.paymentcancel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
    margin: 0 auto;
  }
  
  .paymentcancel-icon{
    font-size: 4rem; 
    color: red; 
  }
  
  .paymentcancel-h1 {
    font-size: 2rem; 
    margin: 1rem 0;
  }
  
  .paymentcancel-p {
    font-size: 1rem; 
    margin: 1rem 0;
    color: lightslategrey;
  }
  
  .paymentcancel-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 10px;
    width: 350%;
    margin-left: -35px;
}
.paymentcancel-button:hover{
    background-color: #0d95e8;
}